---
http_interactions:
- request:
    method: post
    uri: https://api.quadrigacx.com/v2/bitcoin_withdrawal
    body:
      encoding: UTF-8
      string: '{"amount":"0.01","address":"1FAs1ywa3pqS6S5mvypXjCtHAzwCkymNUX","key":"kOnVDjfPPh","nonce":"1421689984304","signature":"c87d5b1122f81e09a7ccaa519dba4e1eb4496043d8c558e116219a88d84bf6d7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '"ok"'
  recorded_at: Mon, 19 Jan 2015 17:53:05 GMT
recorded_with: VCR 2.9.3
